/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  
}

.container {
  background-color: white;
  width: 400px;
  padding: 20px;
  box-shadow: 30px 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 20px;

}
.container h1 {
 
  margin-bottom: 15px;
}

#taskInput {

  width: 80%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border 0.3s;
}
button {
  background-color: rgb(50, 50, 222);
  color: white;
  height: 45px;
  width: 180px;
  border-radius: 5px;
  font-size: 15px;
} */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: beige;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainContainer{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
 background-color: rgba(88, 88, 189, 0.902);
 width: 40%;
 /* height: 400px; */
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 20px;
 padding: 20px;
 border-radius: 10px;
 box-shadow: 0px 0px 10px black;
 transition: all 0.3s linear 0s;

}



.container:hover{
  box-shadow: 0.5px 0.5px 15px black;
  
}

.container h1{
  color: white;
 
}

.inputBox{
  width: 100%;
  padding: 0 10px;
  
}

.inputBox input{
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  
  
}

.inputBox input[type = "text"]{
  font-size: 20px;
  font-weight: bold;
}

.inputBox input:focus{
  box-shadow: 1px 1px 10px black;
}

.btnBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnBox button{
  width: 30%;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.todoList{
  width: 100%;
  padding: 10px;
}

 .ulList {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  

}

.styledLi {
  
  color: black;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
 
}

.removeBTN{
  width: 90px;
  height: 30px;
  background-color: red;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 5px black;
  transition: all 0.3s ease-in 0s;
  
}

.removeBTN:hover {
  background-color: rgb(189, 21, 21);
}

.toggleText {
  transition: all 0.3s ease-in 0s;
  text-decoration: line-through;
  color: gray;
}

/* .removeBTN:hover {
  transform: scale(1.03);
} */